<a href="https://colab.research.google.com/github/avinashronanki/Analytics-4/blob/main/Rain_TS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
import os
os.environ['KAGGLE_USERNAME'] = "avinashronanki" 
os.environ['KAGGLE_KEY'] = "4e37a38d38acd61dc81a278123a931d1"
!kaggle competitions download -c how-much-did-it-rain-ii

In [ ]:
!unzip /content/test.zip

Archive:  /content/test.zip
  inflating: test.csv

In [ ]:
!unzip /content/train.zip

Archive:  /content/train.zip
  inflating: train.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/schema/train.csv")

In [ ]:
test_df = pd.read_csv("/content/drive/MyDrive/schema/test.csv")

In [ ]:
test_df.head()

   Id  minutes_past  radardist_km  ...  Kdp_5x5_10th  Kdp_5x5_50th  Kdp_5x5_90th
0   1             1           8.0  ...           NaN           NaN           NaN
1   1             5           8.0  ...           NaN           NaN           NaN
2   1             8           8.0  ...           NaN           NaN           NaN
3   1            12           8.0  ...           NaN           NaN           NaN
4   1            15           8.0  ...           NaN           NaN           NaN

[5 rows x 23 columns]

In [ ]:
test_df.shape

(8022756, 23)

# EDA

In [ ]:
train_df.head()

   Id  minutes_past  radardist_km  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
0   1             3          10.0  ...           NaN           NaN     0.254
1   1            16          10.0  ...           NaN           NaN     0.254
2   1            25          10.0  ...           NaN           NaN     0.254
3   1            35          10.0  ...           NaN           NaN     0.254
4   1            45          10.0  ...           NaN           NaN     0.254

[5 rows x 24 columns]

In [ ]:
train_df.dtypes

In [ ]:
train_df[train_df.columns[1:]] = train_df[train_df.columns[1:]].astype(np.float32) # converting to float 32 for memory optimization

In [ ]:
train_df[train_df.columns[1:]]

In [ ]:
train_df.dtypes

In [ ]:
train_df.shape

(13765201, 24)

In [ ]:
train_df.isnull().sum()

Id                             0
minutes_past                   0
radardist_km                   0
Ref                      2775954
Ref_5x5_10th             3841387
Ref_5x5_50th             2772390
Ref_5x5_90th             1706556
RefComposite             2429475
RefComposite_5x5_10th    3377843
RefComposite_5x5_50th    2434061
RefComposite_5x5_90th    1471489
RhoHV                    4314082
RhoHV_5x5_10th           5052173
RhoHV_5x5_50th           4300572
RhoHV_5x5_90th           3458417
Zdr                      4314082
Zdr_5x5_10th             5052173
Zdr_5x5_50th             4300572
Zdr_5x5_90th             3458417
Kdp                      5036548
Kdp_5x5_10th             5745822
Kdp_5x5_50th             5026320
Kdp_5x5_90th             4231865
Expected                       0
dtype: int64

In [ ]:
good_ids = set(train_df.loc[train_df['Ref'].notna(), 'Id'])
train_df = train_df[train_df['Id'].isin(good_ids)]
train_df.shape

(9125329, 24)

In [ ]:
train_df.fillna(0.0, inplace=True)
train_df.reset_index(drop=True, inplace=True)
train_df.head()

   Id  minutes_past  radardist_km  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
0   2           1.0           2.0  ...     -0.350006      1.059998  1.016001
1   2           6.0           2.0  ...      0.000000      1.409988  1.016001
2   2          11.0           2.0  ...     -0.350006      1.759995  1.016001
3   2          16.0           2.0  ...      0.000000      1.059998  1.016001
4   2          21.0           2.0  ...     -0.350006      1.759995  1.016001

[5 rows x 24 columns]

In [ ]:
train_df.shape

(9125329, 24)

In [ ]:
N_FEATURES = 22


THRESHOLD = 73

In [ ]:
train_df = train_df[train_df['Expected'] < THRESHOLD]

In [ ]:
train_groups = train_df.groupby("Id")
train_size = len(train_groups)

In [ ]:
MAX_SEQ_LEN = train_groups.size().max()
MAX_SEQ_LEN

19

In [ ]:
X_train = np.zeros((train_size, MAX_SEQ_LEN, N_FEATURES), dtype=np.float32)
y_train = np.zeros(train_size, dtype=np.float32)

i = 0
for _, group in train_groups:
    X = group.values
    seq_len = X.shape[0]
    print(seq_len)
    break
    X_train[i,:seq_len,:] = X[:,1:23]
    y_train[i] = X[0,23]
    i += 1
    del X
    
del train_groups
X_train.shape, y_train.shape

NameError: ignored

In [ ]:
y_train

array([1.0160005 , 4.064002  , 0.50800025, ..., 1.5240008 , 3.556002  ,
       8.636004  ], dtype=float32)